* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  tr:nth-child(even) {
    background-color:  rgb(190, 255, 186);
  }
  input {
    width: 15rem;
    height: 1.6rem;
    margin-right: 1px;
  }
  form {
    margin-left: 1.6rem;
  }

  .table-body {
    margin-top: 5rem;
  }
  .components {
    display: flex;
    gap: 2rem;
  }